In [35]:
# if
if 5> 10:
  print("verdade")

In [20]:
# if/else
num1=35
num2=25
if num1> num2:
  print("o num1 é o maior numero")
else:
    print("o num2 é o maior número")

o num1 é o maior numero

In [32]:
# if / Elif / Else
num1 = 40
num2 = 10
if num1 > num2:
  print("o num1 é o maior número")
elif num1 < num2:
    print("o num2 é o maior número")
else:
      print("os dois são iguais")

o num1 é o maior número

In [34]:
num1 = 10
num2 = 5
num3 = 20
if (num1 > num2) and (num1 > num3):
  print("o num1 é o maior número")
else:
  print("o num1 não é o maior número")

o num1 não é o maior número

In [38]:
# Lista
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [39]:
# Tupla
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [40]:
# Dicionário
{"num1": 1, "num2": 2}

{'num1': 1, 'num2': 2}